scd-bp-project/WebContent/wsdl/buy_product.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="create_order">
    <complexType>
     <sequence>
      <element name="add" type="xsd:string"/>
      <element name="date" type="xsd:string"/>
      <element name="pay" type="xsd:int"/>
      <element name="user" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="create_orderResponse">
    <complexType>
     <sequence>
      <element name="create_orderReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="create_orderResponse">

      <wsdl:part element="impl:create_orderResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="create_orderRequest">

      <wsdl:part element="impl:create_order" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Buy_product">

      <wsdl:operation name="create_order">

         <wsdl:input message="impl:create_orderRequest" name="create_orderRequest">

       </wsdl:input>

         <wsdl:output message="impl:create_orderResponse" name="create_orderResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Buy_productSoapBinding" type="impl:Buy_product">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="create_order">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="create_orderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="create_orderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Buy_productService">

      <wsdl:port binding="impl:Buy_productSoapBinding" name="Buy_product">

         <wsdlsoap:address location="http://localhost:8080/scd-bp-project/services/Buy_product"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
