scd-bp-project/WebContent/wsdl/buy_product.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="add_to_cart">
    <complexType>
     <sequence>
      <element name="add" type="xsd:string"/>
      <element name="date" type="xsd:string"/>
      <element name="pay" type="xsd:int"/>
      <element name="user" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="add_to_cartResponse">
    <complexType>
     <sequence>
      <element name="add_to_cartReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="add_to_cartResponse">

      <wsdl:part element="impl:add_to_cartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="add_to_cartRequest">

      <wsdl:part element="impl:add_to_cart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="buy_product">

      <wsdl:operation name="add_to_cart">

         <wsdl:input message="impl:add_to_cartRequest" name="add_to_cartRequest">

       </wsdl:input>

         <wsdl:output message="impl:add_to_cartResponse" name="add_to_cartResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="buy_productSoapBinding" type="impl:buy_product">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add_to_cart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="add_to_cartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="add_to_cartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="buy_productService">

      <wsdl:port binding="impl:buy_productSoapBinding" name="buy_product">

         <wsdlsoap:address location="http://localhost:8080/scd-bp-project/services/buy_product"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
