LOGIN/WebContent/wsdl/Cart_Handling.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="add_to_cart">
    <complexType>
     <sequence>
      <element name="pro" type="xsd:string"/>
      <element name="pri" type="xsd:int"/>
      <element name="dis" type="xsd:int"/>
      <element name="quan" type="xsd:int"/>
      <element name="user" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="add_to_cartResponse">
    <complexType>
     <sequence>
      <element name="add_to_cartReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="add_to_cartResponse">

      <wsdl:part element="impl:add_to_cartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="add_to_cartRequest">

      <wsdl:part element="impl:add_to_cart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Cart_Handling">

      <wsdl:operation name="add_to_cart">

         <wsdl:input message="impl:add_to_cartRequest" name="add_to_cartRequest">

       </wsdl:input>

         <wsdl:output message="impl:add_to_cartResponse" name="add_to_cartResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Cart_HandlingSoapBinding" type="impl:Cart_Handling">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add_to_cart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="add_to_cartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="add_to_cartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Cart_HandlingService">

      <wsdl:port binding="impl:Cart_HandlingSoapBinding" name="Cart_Handling">

         <wsdlsoap:address location="http://localhost:8080/scd-bp-project/services/Cart_Handling"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
