LOGIN/WebContent/wsdl/Order_tracking.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="track">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="trackResponse">
    <complexType>
     <sequence>
      <element name="trackReturn" type="impl:Order"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Order">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="dateOfDelivery" nillable="true" type="xsd:string"/>
     <element name="payment" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="trackRequest">

      <wsdl:part element="impl:track" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="trackResponse">

      <wsdl:part element="impl:trackResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Order_tracking">

      <wsdl:operation name="track">

         <wsdl:input message="impl:trackRequest" name="trackRequest">

       </wsdl:input>

         <wsdl:output message="impl:trackResponse" name="trackResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Order_trackingSoapBinding" type="impl:Order_tracking">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="track">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="trackRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="trackResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Order_trackingService">

      <wsdl:port binding="impl:Order_trackingSoapBinding" name="Order_tracking">

         <wsdlsoap:address location="http://localhost:8080/scd-bp-project/services/Order_tracking"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
